@media (max-width:820px) {
    .contract-area {
        display: none;
    }
}

@media (max-width:820px) {
    .nav-bar-flex {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 0;
        padding-right: 0;
    }
    .nav-logo img {
        width: 170px;
    }
    .nav-menu ul li a {
        display: none;
    }
    .tree-menu {
        display: block;
    }
}

@media (max-width:820px) {
    .mobile {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding-top: 20px;
    }
    .mobile-info {
        width: 90%;
        margin-top: 0px;
    }
}


/* ===============
event-title
================ */

@media (max-width:820px) {
    .event-title {
        width: 90%;
        text-align: center;
    }
}

@media (max-width:820px) {
    .event-box-flex {
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .event-box {
        width: 90%;
    }
}